html {
    font-family: sans-serif;
}

h1 {
    position: fixed;
    left: 0;
    right: 0;
    padding-left: 2em;

    font-size: 1.3em;
    line-height: 1.5em;
    background-color: rgba(180, 180, 180, 0.5);

    z-index: 2;
}

nobel-search{
    padding-top: 3em;
}

nobel-results{
    transition: opacity 400ms;
}
nobel-results.searching{
    opacity: 0.2;
}